@font-face {
    font-family: BebasBold;
    src: url(../../assets/fonts/BebasNeueBold.ttf);
}
@font-face {
    font-family: BebasBook;
    src: url(../../assets/fonts/BebasNeueBook.ttf);
}
@font-face {
    font-family: BebasLight;
    src: url(../../assets/fonts/BebasNeueLight.ttf);
}
@font-face {
    font-family: BebasRegular;
    src: url(../../assets/fonts/BebasNeueRegular.ttf);
}
@font-face {
    font-family: GothamMedium;
    src: url(../../assets/fonts/GothamMedium.ttf);
}

body{
    /* font-family: BebasRegular */
    font-family: 'Poppins', sans-serif;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 102px;
  }